.difficulties-container {
    padding-top: 3vh;
    width: 280px;
    margin: 0 auto;
}

.difficulties {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.difficulty-btn {
    color: whitesmoke;
    outline: none;
    border: none;
    font-family: 'Play';
    font-size: 0.95em;
    font-weight: bold;
    border-bottom: 1px solid #282c34;
}

.difficulty-btn:hover {
    color: lightgray;
    border: none;
    font-family: 'Play';
    font-size: 0.95em;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}