.keyboard-container {
    padding-top: 3vh;
    display: table;
    margin: 0 auto;
    touch-action: manipulation;
}

.row {
    display: flex;
    justify-content: center;
}

.NG, .NF, .WP, .C {
    width: 5vw;
    height: 5vw;
    max-width: 50px;
    max-height: 50px;
    min-width: 33px;
    min-height: 33px;
    line-height: 30px;
    font-size: 1.8rem;
    font-family: 'Play';
    margin: 2px;
    border-radius: 5px;
}

.NG {
    color: whitesmoke;
    border: 2px solid whitesmoke;
}

.NF {
    color: gray;
    border: 2px solid gray;
}

.WP {
    color: #ffc425;
    border: 2px solid #ffc425;
}

.C {
    color: #019a01;
    border: 2px solid #019a01;
}

.NG, .NF, .WP, .C:hover {
    cursor: pointer;
}


.enter-key, .backspace-key {
    height: 5vw;
    max-height: 50px;
    min-height: 34px;
    font-size: 1.5rem;
    font-family: 'Play';
    color: whitesmoke;
    border: none;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    margin: 2px;
}

.enter-key {
    width: 75px;
}

.backspace-key {
    width: 130px;
}

.backspace-key:hover {
    cursor: pointer;
}

.key:hover {
    cursor: pointer;
}

.enter-key:hover {
    cursor: pointer;
}