<div class="keyboard-container">
  <div *ngFor="let sublist of keyboard" class="row">
    <div *ngFor="let atom of sublist" class="btn-key">
      <button
        tabindex="-1"
        *ngIf="atom.length === 1"
        [ngStyle]="{
          'font-size': getScreenSize() < 450 ? '1.4rem' : '1.8rem'
        }"
        (click)="sendKeyClick(atom)"
        class="{{ giveKeyColor(atom) }}"
      >
        {{ atom }}
      </button>
      <button
        tabindex="-1"
        *ngIf="atom.length === 5"
        [ngStyle]="{
          'font-size': getScreenSize() < 450 ? '1.3rem' : '1.5rem'
        }"
        (click)="sendKeyClick(atom)"
        class="enter-key"
      >
        {{ atom }}
      </button>
      <button
        tabindex="-1"
        *ngIf="atom.length === 9"
        [ngStyle]="{
          'font-size': getScreenSize() < 450 ? '1.3rem' : '1.5rem'
        }"
        (click)="sendKeyClick(atom)"
        class="backspace-key"
      >
        {{ atom }}
      </button>
    </div>
  </div>
</div>
