<div class="footer-container">
  <div class="link-container">
    <div class="author">
      <a
        tabindex="-1"
        href="https://github.com/BlakeBallew"
        class="link"
        target="_blank"
        rel="noopener noreferrer"
        >Author: Blake Ballew</a
      >
    </div>

    <div class="ts-snake">
      <a
        tabindex="-1"
        href="https://blakeballew.github.io/TypeScript-Snake/"
        class="link"
        target="_blank"
        rel="noopener noreferrer"
        >Also try: TypeScript Snake</a
      >
    </div>
  </div>
</div>
