<div class="footer-container">
  <div
    class="{{
      getScreenWidth() > 450 ? 'link-container-large' : 'link-container-small'
    }}"
  >
    <div class="author">
      <a
        tabindex="-1"
        href="https://github.com/BlakeBallew"
        class="link"
        target="_blank"
        rel="noopener noreferrer"
        >Author: Blake Ballew</a
      >
    </div>

    <div class="ts-snake">
      <a
        tabindex="-1"
        href="http://typescript-snake.s3-website-us-west-2.amazonaws.com/"
        class="link"
        target="_blank"
        rel="noopener noreferrer"
        >Also try: TypeScript Snake</a
      >
    </div>
  </div>
</div>
